<!DOCTYPE html>
<html>
  <head>
    <title>Darling{{ if not .IsHome }} - {{ .Title }}{{ end }}</title>{{ if .Params.repo }}
		<meta name="go-import" content="{{ replaceRE "https?://(.*)" "$1" .Site.BaseURL }}{{ .Params.repo }} git https://github.com/darlinggo/{{ .Params.repo }}">{{ end }}
		<link href="/css/github.css" rel="stylesheet" type="text/css">
		<link href="/css/syntax.css" rel="stylesheet" type="text/css">
		<link href="/css/theme.css" rel="stylesheet" type="text/css">
  </head>
  <body>
